<div class="jumbotron d-flex align-items-center wholepage">
  <div class="container text-center col-md-3">
    <div class="card carta">
      <h1>
        <img src="/assets/logo.png">
      </h1>
      <h2>Iniciar Sesión</h2>
      <form class="row g-3">
        <div class="form-floating">
          <input type="email" class="form-control" id="email" placeholder="Introduce your email">
          <label for="email" class="form-label">Email</label>
        </div>
        <div class="form-floating">
          <input type="password" id="password" class="form-control" placeholder="Password">
          <label for="password" class="form-label">Contraseña</label>
        </div>
        <div class="d-grid gap-3">
          <div class="boton">
            <button type="submit" class="btn btn-warning"  routerLink="/">Iniciar sesión</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

