footer {
  position: fixed;
  padding: 8px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ccfbb8;
  color: rgba(131, 207, 43, 0.665);
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
}