<div class="jumbotron d-flex align-items-center wholepage">
  <div class="container text-center col-md-3">
    <div class="card carta">
      <h1>
        <img src="/assets/logo.png">
      </h1>
      <h2>Sign up to ElCocinas</h2>
      <form class="row g-3">
        <div class="form-floating">
          <input type="name" class="form-control" id="name" placeholder="Introduce your name">
          <label for="name" class="form-label">Name</label>
        </div>
        <div class="form-floating">
          <input type="firstName" class="form-control" id="firstName" placeholder="Introduce your First name">
          <label for="firstName" class="form-label">First name</label>
        </div>
        <div class="form-floating">
          <input type="email" class="form-control" id="email" placeholder="Introduce your email">
          <label for="email" class="form-label">Email address</label>
        </div>
        <div class="form-floating">
          <input type="password" id="password" class="form-control" placeholder="Password">
          <label for="password" class="form-label">Password</label>
        </div>
        <div class="form-floating">
          <input type="password" id="password" class="form-control" placeholder="Password">
          <label for="password" class="form-label">Password confirmation</label>
        </div>
        <div class="d-grid gap-3">
            <button type="submit" class="btn btn-warning" routerLink="/">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>