/* https://www.thecodecampus.de/blog/angular-full-height-app-component/ */
:host {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.wholepage{
  min-height: 100vh;
  min-width: 100vh;
}

.carta {
  padding: 20px;
}

.btn:hover{
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.35); 
}
.jumbotron {
  background: linear-gradient(9deg, rgb(251, 249, 205) 44%,#fbf2b8 100%);
}