 /* The sidebar menu */
 .sidenav {
 /* height: 100vh;
  /* height: 100%; Full-height: remove this if you want "auto" height */
 /* width: 160px; /* Set the width of the sidebar */
  /* position: fixed; Fixed Sidebar (stay in place on scroll) */
  float: left;
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  background-color: #111; /* Black */
  padding-top: 25px;
  font-family: 'Shadows Into Light', cursive;
  background-color: #ccfbb8;
    
  overflow: hidden;
  bottom: 0; /* Stay at the bottom */
  height: 100vh;
  display: block;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 10px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #595959;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 4500px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} 

