<!--<div class="wrapper">
  <div class="container">
    <div class="titulo2">
      <h1 class="centro">{{recipeDetail?.title}}</h1><br/>
    </div>
    <hr />
    <div class="imgContainer">
      <img class="img-fluid mx-auto d-block"
        src="{{recipeDetail?.image}}">
    </div>
    <hr />
    <div class="elaboracion">
      <h2 class="titulo2">Ingredients </h2><br/>
      <div class="recipeContent">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let ingredient of recipeDetail?.ingredients "> {{ingredient.name}} - {{ingredient.quantity}}</li>
        </ul>
    </div>
    </div>
    <hr />
 
    <div class="elaboracion">
      <h2 class="titulo2">Elaboration  </h2>
      <p class="recipeContent">
        {{recipeDetail?.recipeText}}
      </p>
  </div>
  </div>
  <br/><br/><br/><br/><br/><br/>

</div>-->

<!DOCTYPE html>
<html>
<head>
 
  <link rel="stylesheet" type="text/css" href="detail-recipes.component.css">
</head>
<body>
  <h1>Bebidas</h1>
  <div class="galeria">
    <img src="../../../../assets/cocacola1.jpg" alt="cocacola1">
    <img src="../../../../assets/cocacola2.jpg" alt="cocacola2">
    <img src="../../../../assets/cocacola3.jpg" alt="cocacola3">
    <img src="../../../../assets/cocacola4.jpg" alt="cocacola4">
    <img src="../../../../assets/naranja1.jpg" alt="naranja1">
    <img src="../../../../assets/naranja2.jpg" alt="naranja2">
    <img src="../../../../assets/naranja3.jpg" alt="naranja3">
    <img src="../../../../assets/naranja4.jpg" alt="naranja4">
  </div>

  <br/><br/><br/><br/><br/><br/>
</body>
</html>
